<div id="<%= dom_id friend %>" class="p-3 mb-2 bg-dark rounded-3">
  <div class="container-fluid py-5 text-light">
    <h1 class="display-5 fw-bold"><%= friend.first_name %> <%= friend.last_name %></h1>
    <p class="col-md-8 fs-4">
      <strong>Email:</strong>
      <%= friend.email %>
    </p>
    <p>
      <strong>Fone:</strong>
      <%= friend.fone %>
    </p>
    <p>
      <strong>Instagram:</strong>
      <%= friend.instagram %>
    </p>
  </div>
</div>

